
.main{
    
    background-color: rgb(94, 83, 100);
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .b-termek{
    
    background-color: rgb(94, 83, 100);
    color: white;
}
.elem{
    padding: 1%;
}
.szurok{
    padding: 1%;

}
#btnszuro{
    color: white;
}
#ido,#ar:hover{
    cursor: pointer;
}