.cim{
    padding-left: 20%;
}
#logolinkdiv{
    
}
#logolinka{
   
}
#thelogo{
    z-index: 100000;
}
.content-full{
    width: max-content;
}
#smolcimtxt{
    text-size-adjust: 300%;
}
.leiras{
    max-width: 1000px;
    min-width: 300px;
    padding-right: 20%;
}
#fokep{
height: max-content;
margin-left: 10%;
}
.fokepdiv{
    
height: max-content;
margin-left: 10%;
}