.cim{
    padding-left: 20%;
}
#logolinkdiv{
    
}
#logolinka{
   
}
#thelogo{
    z-index: 100000;
}
.content-full{
    width: max-content;
}
#smolcimtxt{
    text-size-adjust: 300%;
}
.leiras{
    max-width: 100px;
}
#fokep{
height: max-content;
}